.search-profiles .heading {
	font-size: 30px;
	padding: 16px 0;
	color: #444;
	text-align: center;
}
/* 
.container {
	margin: 36px auto;
	width: 100%;
	max-width: 800px;
} */
.search-profiles .search-label {
	position: relative;
}
.search-profiles input {
	width: 100%;
	padding: 16px;
	font-size: 36px;
	font-style: italic;
	color: #444;
	box-sizing: border-box;
	outline: none;
}
.search-profiles .search-icon {
	position: absolute;
	top: -10px;
	font-size: 24px;
	color: #555;
	right: 18px;
}