.navbar-custom {
  background-color: #3a2113;
  border-color: #ac926b;
  background-image: -webkit-gradient(
    linear,
    left 0%,
    left 100%,
    from(#60391c),
    to(#3a2113)
  );
  background-image: -webkit-linear-gradient(top, #60391c, 0%, #3a2113, 100%);
  background-image: -moz-linear-gradient(top, #60391c 0%, #3a2113 100%);
  background-image: linear-gradient(to bottom, #60391c 0%, #3a2113 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff60391c', endColorstr='#ff62aacf', GradientType=0);
  .navbar-brand {
    color: #ffffff;
    &:hover {
      color: #e6e6e6;
      background-color: transparent;
    }
    &:focus {
      color: #e6e6e6;
      background-color: transparent;
    }
  }
  .navbar-text {
    color: #ffffff;
  }
  .navbar-nav {
    > li {
      &:last-child {
        > a {
          border-right: 1px solid #a78f6b;
        }
      }
      > a {
        color: #ffffff;
        border-left: 1px solid #a78f6b;
        &:hover {
          color: #c0c0c0;
          background-color: transparent;
        }
        &:focus {
          color: #c0c0c0;
          background-color: transparent;
        }
      }
    }
    > .active {
      > a {
        color: #c0c0c0;
        background-color: #60391c;
        background-image: -webkit-gradient(
          linear,
          left 0%,
          left 100%,
          from(#60391c),
          to(#3a2113)
        );
        background-image: -webkit-linear-gradient(
          top,
          #60391c,
          0%,
          #3a2113,
          100%
        );
        background-image: -moz-linear-gradient(top, #60391c 0%, #3a2113 100%);
        background-image: linear-gradient(to bottom, #60391c 0%, #3a2113 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff60391c', endColorstr='#ff3a2113', GradientType=0);
        &:hover {
          color: #c0c0c0;
          background-color: #60391c;
          background-image: -webkit-gradient(
            linear,
            left 0%,
            left 100%,
            from(#60391c),
            to(#3a2113)
          );
          background-image: -webkit-linear-gradient(
            top,
            #60391c,
            0%,
            #3a2113,
            100%
          );
          background-image: -moz-linear-gradient(top, #60391c 0%, #3a2113 100%);
          background-image: linear-gradient(
            to bottom,
            #60391c 0%,
            #3a2113 100%
          );
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff60391c', endColorstr='#ff3a2113', GradientType=0);
        }
        &:focus {
          color: #c0c0c0;
          background-color: #60391c;
          background-image: -webkit-gradient(
            linear,
            left 0%,
            left 100%,
            from(#60391c),
            to(#3a2113)
          );
          background-image: -webkit-linear-gradient(
            top,
            #60391c,
            0%,
            #3a2113,
            100%
          );
          background-image: -moz-linear-gradient(top, #60391c 0%, #3a2113 100%);
          background-image: linear-gradient(
            to bottom,
            #60391c 0%,
            #3a2113 100%
          );
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff60391c', endColorstr='#ff3a2113', GradientType=0);
        }
      }
    }
    > .disabled {
      > a {
        color: #cccccc;
        background-color: transparent;
        &:hover {
          color: #cccccc;
          background-color: transparent;
        }
        &:focus {
          color: #cccccc;
          background-color: transparent;
        }
      }
    }
    > .dropdown {
      > a {
        &:hover {
          .caret {
            border-top-color: #c0c0c0;
            border-bottom-color: #c0c0c0;
          }
        }
        &:focus {
          .caret {
            border-top-color: #c0c0c0;
            border-bottom-color: #c0c0c0;
          }
        }
        .caret {
          border-top-color: #ffffff;
          border-bottom-color: #ffffff;
        }
      }
    }
    > .open {
      > a {
        background-color: #60391c;
        color: #c0c0c0;
        &:hover {
          background-color: #60391c;
          color: #c0c0c0;
          .caret {
            border-top-color: #c0c0c0;
            border-bottom-color: #c0c0c0;
          }
        }
        &:focus {
          background-color: #60391c;
          color: #c0c0c0;
          .caret {
            border-top-color: #c0c0c0;
            border-bottom-color: #c0c0c0;
          }
        }
        .caret {
          border-top-color: #c0c0c0;
          border-bottom-color: #c0c0c0;
        }
      }
    }
  }
  .navbar-toggle {
    border-color: #dddddd;
    &:hover {
      background-color: #dddddd;
    }
    &:focus {
      background-color: #dddddd;
    }
    .icon-bar {
      background-color: #cccccc;
    }
  }
  .navbar-collapse {
    border-color: #eedcc1;
  }
  .navbar-form {
    border-color: #eedcc1;
  }
  .navbar-link {
    color: #ffffff;
    &:hover {
      color: #c0c0c0;
    }
  }
}
@media (max-width: 767) {
  .navbar-custom {
    .navbar-nav {
      .open {
        .dropdown-menu {
          > li {
            > a {
              color: #ffffff;
              &:hover {
                color: #c0c0c0;
                background-color: transparent;
              }
              &:focus {
                color: #c0c0c0;
                background-color: transparent;
              }
            }
          }
          > .active {
            > a {
              color: #c0c0c0;
              background-color: #60391c;
              &:hover {
                color: #c0c0c0;
                background-color: #60391c;
              }
              &:focus {
                color: #c0c0c0;
                background-color: #60391c;
              }
            }
          }
          > .disabled {
            > a {
              color: #cccccc;
              background-color: transparent;
              &:hover {
                color: #cccccc;
                background-color: transparent;
              }
              &:focus {
                color: #cccccc;
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}

/* Navbar */
// .navbar {
//   display: block;
//   text-align: center;
// }

// .navbar ul {
//   text-align: center;
//   justify-content: center;
// }

// .navbar h1 {
//   margin-bottom: 1rem;
// }

// .navbar .welcome {
//   display: none;
// }
