.loader {
  width: 130px;
  height: 340px;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &::before,
  &::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 75px;
    left: 15px;
    z-index: 1;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 20px solid darken(#8167a9, 10%);
    transform: scale(0);
    transition: all 0.2s ease;
  }
  &::after {
    border-right: 15px solid transparent;
    border-bottom: 20px solid darken(#8167a9, 33%);
  }

  .getting-there {
    width: 120%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: -7%;
    font-family: "Lato";
    font-size: 12px;
    letter-spacing: 2px;
    color: white;
  }

  .binary {
    width: 100%;
    height: 340px;
    display: block;
    color: white;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 2;
    overflow: hidden;

    &::before,
    &::after {
      font-family: "Lato";
      font-size: 24px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
    &:nth-child(1) {
      &::before {
        content: "g";
        animation: a 0.9s linear infinite;
      }
      &::after {
        content: "e";
        animation: b 0.7s linear infinite;
      }
    }
    &:nth-child(2) {
      &::before {
        content: "e";
        animation: a 1.1s linear infinite;
      }
      &::after {
        content: "k";
        animation: d 1.3s linear infinite;
      }
    }
    // &:nth-child(3) {
    //   &::before {
    //     content: "e";
    //     animation: e 0.9s linear infinite;
    //   }
    //   &::after {
    //     content: "k";
    //     animation: f 0.7s linear infinite;
    //   }
    // }
    // &:nth-child(4) {
    //   &::before {
    //     content: "s";
    //     animation: g 0.9s linear infinite;
    //   }
    //   &::after {
    //   	content: "k";
    //   	animation: d 0.7s linear infinite;
    //   }
    // }
  }

  // ACTIVATE
  &.JS_on {
    &::before,
    &::after {
      transform: scale(1);
    }
  }
}

@keyframes a {
  0% {
    transform: translate(30px, 50px) rotate(30deg);
    opacity: 0;
  }
  100% {
    transform: translate(30px, 240px) rotate(-50deg);
    opacity: 1;
  }
}
@keyframes b {
  0% {
    transform: translate(50px, 50px) rotate(-40deg);
    opacity: 0;
  }
  100% {
    transform: translate(40px, 240px) rotate(80deg);
    opacity: 1;
  }
}
@keyframes c {
  0% {
    transform: translate(70px, 50px) rotate(10deg);
    opacity: 0;
  }
  100% {
    transform: translate(45px, 240px) rotate(70deg);
    opacity: 1;
  }
}
@keyframes d {
  0% {
    transform: translate(30px, 50px) rotate(-50deg);
    opacity: 0;
  }
  100% {
    transform: translate(60px, 240px) rotate(30deg);
    opacity: 1;
  }
}
// @keyframes e {
//   0% {
//     transform: translate(30px, 50px) rotate(30deg);
//     opacity: 0;
//   }
//   100% {
//     transform: translate(0px, 240px) rotate(-50deg);
//     opacity: 1;
//   }
// }
// @keyframes f {
//   0% {
//     transform: translate(70px, 80px) rotate(-40deg);
//     opacity: 0;
//   }
//   100% {
//     transform: translate(55px, 240px) rotate(80deg);
//     opacity: 1;
//   }
// }
